@page
@model CENG408.Pages.Account.LoginModel
@{ }


    <title>Sign Up</title>
    <!-- <link rel="stylesheet" type="text/css" href="signup.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-family: 'Jost', sans-serif;
            background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
        }

        .main {
            width: 350px;
            height: 500px;
            background: red;
            overflow: hidden;
            background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
        }

        #chk {
            display: none;
        }

        .signup {
            position: relative;
            width: 100%;
            height: 100%;
        }

        label {
            color: #fff;
            font-size: 2.3em;
            justify-content: center;
            display: flex;
            margin: 60px;
            font-weight: bold;
            cursor: pointer;
            transition: .5s ease-in-out;
        }

        input {
            width: 70%;
            height: 37px;
            background: #e0dede;
            justify-content: center;
            display: flex;
            margin: 20px auto;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        button {
            width: 60%;
            height: 45px;
            margin: 10px auto;
            justify-content: center;
            display: block;
            color: #fff;
            background: #573b8a;
            font-size: 1em;
            font-weight: bold;
            margin-top: 20px;
            outline: none;
            border: none;
            border-radius: 5px;
            transition: .2s ease-in;
            cursor: pointer;
        }

            button:hover {
                background: #6d44b8;
            }

        .login {
            height: 460px;
            background: #eee;
            border-radius: 60% / 10%;
            transform: translateY(-180px);
            transition: .8s ease-in-out;
        }

            .login label {
                color: #573b8a;
                transform: scale(.6);
            }

        #chk:checked ~ .login {
            transform: translateY(-500px);
        }

            #chk:checked ~ .login label {
                transform: scale(1);
            }

        #chk:checked ~ .signup label {
            transform: scale(.6);
        }

        .container {
            max-width: unset;
            margin: auto;
            padding: 0;
            padding-top: 20px;
            padding-left: 60px;
            padding-right: 60px;
        }

        .pb-3 {
            padding-left: 40%;
        }
        #dialogbox > div {
            background: #FFF;
            margin: 8px;
        }

            #dialogbox > div > #dialogboxhead {
                background: rgb(88, 106, 187);
                font-size: 19px;
                padding: 10px;
                color: rgb(255, 255, 255);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            #dialogbox > div > #dialogboxbody {
                background: rgb(41, 26, 97);
                padding: 20px;
                color: #FFF;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            #dialogbox > div > #dialogboxfoot {
                background: rgb(255, 255, 255);
                padding: 10px;
                text-align: right;
            }

        #dialogoverlay {
            display: none;
            opacity: .8;
            position: fixed;
            top: 0px;
            left: 0px;
            background: #707070;
            width: 100%;
            z-index: 10;
        }

        #dialogbox {
            display: none;
            position: absolute;
            background: rgb(81, 54, 179);
            border-radius: 7px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
            transition: 0.3s;
            width: 40%;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

            #dialogbox:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);
            }
    </style>


<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form method="post">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" asp-for="Credential.UserName" placeholder="User name" class="form-control" />
            <input type="email" asp-for="Credential.Email" placeholder="Email" class="form-control" />
            <input type="password" asp-for="Credential.Password" placeholder="Password" class="form-control" />
            <button><!--onclick="customAlert.alert('There is a confirmation link waiting in your email inbox.')"-->
                Sign Up
            </button>

            <!--<script type="text/javascript">
            function CustomAlert() {
                this.alert = function (message, title) {
                    document.body.innerHTML = document.body.innerHTML + '<div id="dialogoverlay"></div><div id="dialogbox" class="slit-in-vertical"><div><div id="dialogboxhead"></div><div id="dialogboxbody"></div><div id="dialogboxfoot"></div></div></div>';

                    let dialogoverlay = document.getElementById('dialogoverlay');
                    let dialogbox = document.getElementById('dialogbox');

                    let winH = window.innerHeight;
                    dialogoverlay.style.height = winH + "px";

                    dialogbox.style.top = "100px";

                    dialogoverlay.style.display = "block";
                    dialogbox.style.display = "block";

                    document.getElementById('dialogboxhead').style.display = 'block';

                    if (typeof title === 'undefined') {
                        document.getElementById('dialogboxhead').style.display = 'none';
                    } else {
                        document.getElementById('dialogboxhead').innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> ' + title;
                    }
                    document.getElementById('dialogboxbody').innerHTML = message;
                    document.getElementById('dialogboxfoot').innerHTML = '<button class="pure-material-button-contained active" onclick="customAlert.ok()">OK</button>';
                }

                this.ok = function () {
                    document.getElementById('dialogbox').style.display = "none";
                    document.getElementById('dialogoverlay').style.display = "none";
                }
            }

            let customAlert = new CustomAlert();
        </script>-->
        </form>
        </div>

        <div class="login">
            <form method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" placeholder="Email" asp-for="Credential.Email" class="form-control" />
                <input type="password" placeholder="Password" asp-for="Credential.Password" class="form-control" />
                <button>Login</button>
            </form>
        </div>
    </div>

